<!DOCTYPE html>
<html class="theme-light">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uvwtr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>


</head>

<body>
    <div class="container is-fluid">
        <h1 class="title">UV Wetter Karte</h1>
        <div class="block"></div>
        <p class="subtitle">Zeigt Dir die UV Lage in Deiner Umgebung an.</p>
        <div class="block"></div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                <form>
                    <input class="input is-rounded is-medium is-fluid" type="text" name="cityName"
                        placeholder="Gib den Namen einer Stadt ein" />
                </form>
                </p>
            </div>
        </div>
        <div class="block"></div>
        <div>
            <blockquote>
                {{ .CityName }}
            </blockquote>
        </div>
        <div class="block"></div>
        <div class="container" style="height: 500px; width: 100%;" id="map"></div>
        <script>
            const x = document.getElementById("container1");
            var browserLat = null;
            var browserLon = null;

            function getColor(value) {
                if (value <= 0) return 'gray';
                if (value <= 2) return 'green';
                if (value <= 5) return 'yellow';
                if (value <= 7) return 'orange';
                if (value <= 10) return 'red';
                else return 'violet';
            }
            function showPosition(position) {
                browserLat = position.coords.latitude;
                browserLon = position.coords.longitude;
            }
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                }
            }
            getLocation();

            let modelLat = {{ .Latitude }};
            let modelLon = {{ .Longitude }};
            let modelUv = {{ .UVIndex }};
            let lat = modelLat != null ? modelLat : browserLat;
            let lon = modelLon != null ? modelLon : browserLon;

            console.log(modelLat, modelLon, browserLat, browserLon)
            const cityName = '{{ .CityName }}';

            var map = L.map('map').setView([lat, lon], 10);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 20,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            var circle = L.circle([lat, lon], {
                color: 'red',
                fillColor: getColor(modelUv),
                fillOpacity: 0.5,
                radius: 12000
            }).addTo(map);
            circle.bindPopup("UV Index " + modelUv);
        </script>
    </div>

</body>

</html>